<div class="list-group">
<!--<a href="/follower_path" class="list-group-item list-group-item-action active" aria-current="true">-->
   <%#= follower.username %>
<!--  </a>-->
<%= link_to "#{leaders.username}" , user_path(leaders.username)
  %>
</div>
